name: Update Check
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'
      - run: ./gradlew updateVersions
      - run: ./gradlew processMDTemplates
      - uses: peter-evans/create-pull-request@v6
        with:
          branch: update-versions
          title: Update versions
          author: github-actions <41898282+github-actions[bot]@users.noreply.github.com>
          commit-message: Update versions
